html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
#map-canvas {
	width: 90%;
    height: 100%;
    float: left;
    margin-right: 1px;
      }	  
#barra {
	width: 9%;
    height: 100%;
    float: left;
}
	  
#placar_reciclagem {
    width: 209px;
    height: 61px;
    float: left;
    margin-right: 50px;
    background: url('placar-reciclagem.png') no-repeat;
}

#placar_reciclagem p {
    margin-right: 20px;
    margin-top: 6px;
    font-size: 20px;
    text-align: right;
}

#placar_melhor {
    width: 209px;
    height: 61px;
    float: left;
    background: url('placar-melhor.png') no-repeat;
}

#placar_melhor p {
    margin-right: 16px;
    margin-top: 10px;
    font-size: 20px;
    text-align: right;
}

#placar_tempo {
    width: 170px;
    height: 60px;
    float: right;
    background: url('placar-tempo.png') no-repeat;
}

#placar_tempo p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
#placar_tempo {
    width: 170px;
    height: 60px;
    float: right;
    background: url('placar-tempo.png') no-repeat;
}

#placar_tempo p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
#placar_latitude {
    height: 60px;
    float: left;
}

#placar_latitude p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
#placar_longitude {
    height: 60px;
    float: left;
}

#placar_longitude p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
#draggable {
	position:absolute; top:10px; left:10px; width: 30px; height: 30px;z-index:1000000000;
}
