#placar_reciclagem {
    width: 209px;
    height: 61px;
    float: left;
    margin-right: 50px;
    background: url('placar-reciclagem.png') no-repeat;
}

#placar_reciclagem p {
    margin-right: 20px;
    margin-top: 6px;
    font-size: 20px;
    text-align: right;
}

#placar_melhor {
    width: 209px;
    height: 61px;
    float: left;
    background: url('placar-melhor.png') no-repeat;
}

#placar_melhor p {
    margin-right: 16px;
    margin-top: 10px;
    font-size: 20px;
    text-align: right;
}

#placar_tempo {
    width: 170px;
    height: 60px;
    float: right;
    background: url('placar-tempo.png') no-repeat;
}

#placar_tempo p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
#placar_tempo {
    width: 170px;
    height: 60px;
    float: right;
    background: url('placar-tempo.png') no-repeat;
}

#placar_tempo p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
#placar_latitude {
    width: 170px;
    height: 60px;
    float: right;
    background: url('placar-latitude.png') no-repeat;
}

#placar_latitude p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
#placar_longitude {
    width: 170px;
    height: 60px;
    float: right;
    background: url('placar-longitude.png') no-repeat;
}

#placar_longitude p {
    color: red;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}
